{% extends 'layout.html.twig' %}
{% block title %}Profile{% endblock %}
{% block breadcrumb %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url('app_index') }}">Home</a></li>
                <li class="breadcrumb-item active">My Account</li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="my-account">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-pane " id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Password change</h4>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                {#<input type="password" placeholder="Current Password">#}
                                {{ form_row(form.currentPassword) }}
                            </div>
                            <div class="col-md-6">
                                {#<input type="text" placeholder="New Password">#}
                                {{ form_row(form.newPassword.first) }}
                            </div>
                            <div class="col-md-6">
                                {#<input type="text" placeholder="Confirm Password">#}
                                {{ form_row(form.newPassword.second) }}
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn">Save Changes</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <a href="{{ url('app_profile') }}" class="float-right">Go back to my profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
