{% form_theme addForm _self %}
{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        {{ form_start(addForm) }}
        {{ form_row(addForm) }}
        <button class="btn btn-primary" type="submit">
            Add product
        </button>
        {{ form_end(addForm) }}
    </div>
{% endblock %}

{# Customizing the Product form type #}
{% block _product_unitPrice_row %}
    <div class="form-group row">
        {#<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>#}
        {{ form_label(form, '', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-10">
            {#<input type="password" class="form-control" id="inputPassword">#}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                {# <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"> #}
                {{ form_widget(form, {'attr': {'class': 'form-control-plaintext'}}) }}
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}