{% extends 'base.html.twig' %}
{% block body %}
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="{{ url('app_index') }}">
                            <img src="{{ asset('img/logo.png') }}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-3">
                    {# inclue user's menu & cart #}
                    {{ include('partials/_profile_menu.html.twig', {'cartItemCount': 9}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav m-auto">
                        <a href="{{ url('app_index') }}" class="nav-item nav-link active">Home</a>
                        <a href="product-list.html" class="nav-item nav-link">Products</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="{{ url('app_cart') }}" class="dropdown-item">Cart</a>
                                <a href="wishlist.html" class="dropdown-item">Wishlist</a>
                                <a href="{{ url('app_checkout') }}" class="dropdown-item">Checkout</a>
                                <a href="login.html" class="dropdown-item">Login & Register</a>
                                <a href="{{ url('app_profile') }}" class="dropdown-item">My Account</a>
                            </div>
                        </div>
                        <a href="{{ url('app_contact') }}" class="nav-item nav-link">Contact Us</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="breadcrumb-wrap">
        <div class="container">
            {% block breadcrumb %}{% endblock %}
        </div>
    </div>
    {% for label,messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor%}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h1>E Shop</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin rutrum
                            massa. Suspendisse sollicitudin rutrum massa. Vestibulum porttitor, metus sed pretium
                            elementum, nisi nibh sodales quam, non lobortis neque felis id mauris.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">Useful Pages</h3>
                        <ul>
                            <li><a href="{{ url('app_cart') }}">Cart</a></li>
                            <li><a href="{{ url('app_checkout') }}">Checkout</a></li>
                            <li><a href="login.html">Login & Register</a></li>
                            <li><a href="{{ url('app_profile') }}">My Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                            <li><a href="{{ url('app_cart') }}">Cart</a></li>
                            <li><a href="{{ url('app_checkout') }}">Checkout</a></li>
                            <li><a href="login.html">Login & Register</a></li>
                            <li><a href="{{ url('app_profile') }}">My Account</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">Get in Touch</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>123 E Shop, Los Angeles, CA, USA</p>
                            <p><i class="fa fa-envelope"></i>email@example.com</p>
                            <p><i class="fa fa-phone"></i>+123-456-7890</p>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row payment">
                <div class="col-md-6">
                    <div class="payment-method">
                        <p>We Accept:</p>
                        <img src="{{ asset('img/payment-method.png') }}" alt="Payment Method"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment-security">
                        <p>Secured By:</p>
                        <img src="{{ asset('img/godaddy.svg') }}" alt="Payment Security"/>
                        <img src="{{ asset('img/norton.svg') }}" alt="Payment Security"/>
                        <img src="{{ asset('img/ssl.svg') }}" alt="Payment Security"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
                </div>

                <div class="col-md-6 template-by">
                    <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock %}